// background
$backdrop: #4e1a38;
$bg: #fcfcfc;
$bg-hover: #fff;
$bg-secondary: #f9f9f9;
$bg-upload: #0cfa0c;
$bg-download: #0c0cfa;

// border
$border: #9985ad;
$border-neutral: #e5e5e5;

// shadow
$shadow: #333;
$shadow-focused: #222;

// text
$text: #666;
$text-focus: #333;
$text-secondary: #999;