// background
$backdrop: #333;
$bg: #fff;
$bg-focused: #f4f4f4;
$bg-dark: #555;
$bg-dark-focused: #444;

$bg-changing: #00ff3f;
$bg-getting: #00c0ff;

// border
$border: #bbb;
$border-focused: #eee;
$border-neutral: #e5e5e5;
$border-dark: #555;
$border-dark-focused: #666;

// shadow
$shadow: #222;
$shadow-focused: #111;

// text
$text: #333;
$text-secondary: #666;
$text-focused: #111;

$list-text: $bg-dark;
$list-text-focused: $text-focused;

// link
$link-text: #369;
$link-text-focused: #258;
