// background
$backdrop: #4e1a38;
$bg: #fcfcfc;
$bg-hover: #fff;
$bg-secondary: #f9f9f9;
$bg-upload: #e7f7e7;
$bg-download: #e7e7f7;

// border
$border: #9985ad;
$border-neutral: #e5e5e5;

// shadow
$shadow: #333;
$shadow-focused: #222;

// text
$text: #666;
$text-focus: #333;
$text-secondary: #999;